<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>EASy68K</string>
	<key>CFBundleDisplayName</key>
	<string>EASy68K</string>
	<key>CFBundleIdentifier</key>
	<string>com.easy68k.macos</string>
	<key>CFBundleVersion</key>
	<string>5.16.1</string>
	<key>CFBundleShortVersionString</key>
	<string>5.16.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>EASy68K</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>68000 Assembly Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>X68</string>
				<string>x68</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>ASMDocument</string>
		</dict>
	</array>
</dict>
</plist>
